<!DOCTYPE html>
<html>
  <head>
    <title>校园疫情防控系统</title>
    <!-- 引入 Bootstrap CSS 文件 -->
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
    />
    <style>
      .navbar-dark {
        background-color: #00477e;
      }
      .container{
        border: 1px solid #909192;
        margin-top: 30px;
      }
      .main_part{
        padding-top: 50px;
      }
      .sub_part{
        border: 1px solid #909192;
        height: 200px;
        margin-bottom: 40px;
        
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <!-- 导航栏品牌 -->
      <a class="navbar-brand" href="#" style="margin-left: 10px"
        >校园疫情防控系统</a
      >

      <!-- 导航栏切换按钮 -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">个人中心</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="setting">系统工具</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">请假申请</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9 main_part">
          <div class="row">
            <div class="col-md-8 offset-md-2 sub_part"></div>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2 sub_part"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Important Information</h3>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 引入 Bootstrap JS 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
